<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Todo List</title>
</head>

<body class="grey darken-4">
    <div class="container">
        <div class="row">
            <div class="col s12 m6">
                <div class="card black">
                    <div class="card-content white-text">
                        <% if(error !== null) { %>
                        <div class="row">
                            <div class="col s12">
                                <p class="center-align">
                                    <%= error %>
                                </p>
                            </div>
                        </div>
                        <% } %>
                        <span class="card-title">Todo List</span>
                        <div class="row">
                            <form class="col s12" method="post" action="/update-task">
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input value="<%= updateTask %>" id="task" type="text" class="validate white-text" name="task">
                                        <label for="task">Update task</label>
                                        <input value="<%= updateTaskId %>" id="taskId" type="hidden" name="taskId">
                                    </div>
                                </div>
                                <input type="submit" value="Update Task" class="btn"/>
                                <a href="/" class="btn">Cancel</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
</body>
</html>